<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_tutorial_all_design_view">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/allinone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/allinone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".seekbar"
            android:screenOrientation="fullSensor"></activity>
        <activity android:name=".thirdPage"
            android:screenOrientation="fullSensor"></activity>

        <activity android:name=".fourthPage"
            android:screenOrientation="fullSensor"></activity>
<!--        <activity android:name=".fifthPage"-->
<!--            android:screenOrientation="fullSensor"></activity>-->

        <activity android:name=".MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
